<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Google webfonts -->
    <link href="https://fonts.googleapis.com/css?family=Amiri|Trocchi" rel="stylesheet">

    <!--Custom Stylesheet-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}" />

    <!--Custom Stylesheet-->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/Chart.min.css')}}" />

    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
    <!-- Import Axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

    <!--Chart.js-->
    <script src="{{url_for('static', filename='scripts/libs/Chart.min.js')}}"></script>

    <!-- Import Custom Script-->
    <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
</html>